WEBHOOK_PORT=8080
WEBHOOK_SECRET=verysecurekey
GH_APP_ID=12345
GH_APP_KEY=rsa key in ascii armored format
GH_REPO_OWNER=DeltaV-Station
GH_REPO_NAME=Delta-v
DISCORD_TOKEN=verysecuretoken
DISCORD_OPERATOR_USERID=1234512345
DATABASE_URL=sqlite:/data/db.sqlite3

